<footer class="footer section bd-container">
  <div class="footer__container bd-grid">
    <div class="footer__content">
      <a href="/" class="footer__logo">WAVSS</a>
      <span class="footer__description">Web Vulnerability Scanner</span>
      <div>
        <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
        <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
        <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
      </div>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Services</h3>
      <ul>
        <li><a href="#" class="footer__link">Blog</a></li>
        <li><a href="#" class="footer__link">Products</a></li>
        <li><a href="#" class="footer__link">Pricing</a></li>
        <li><a href="#" class="footer__link">Book a trial</a></li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Information</h3>
      <ul>
        <li><a href="#" class="footer__link">Event</a></li>
        <li><a href="#" class="footer__link">Contact us</a></li>
        <li><a href="#" class="footer__link">Privacy policy</a></li>
        <li><a href="#" class="footer__link">Terms of services</a></li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Adress</h3>
      <ul>
        <li>Uttarakhand - India</li>
        <li>Haldwani</li>
        <li>123-456-7890</li>
        <li>tanujpandey@gmail.com</li>
      </ul>
    </div>
  </div>

  <p class="footer__copy"></p>
</footer>