<header class="l-header" id="header">
  <nav class="nav bd-container">
    <a href="/" class="nav__logo">WAVSS</a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <% if (url === '/') { %>
        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#services" class="nav__link">Services</a></li>
        <li class="nav__item"><a href="#menu" class="nav__link">Pricing</a></li>
        <li class="nav__item"><a href="#contact" class="nav__link">Contact us</a></li>
        <% } %>

        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
        <li class="nav__item">
          <a href="/auth/register" class="nav__link">Sign Up</a>
        </li>
        <li class="nav__item">
          <a href="/auth/login" class="nav__link">Login</a>
        </li>
      </ul>
    </div>

    <div class="nav__toggle" id="nav-toggle">
      <i class='bx bx-menu'></i>
    </div>
  </nav>
</header>