<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/dashbstyle.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
</head>

<body>
  <%- include('./partials/nav_menu.ejs') %>
  <div class="home-content" style="width: 100%;">
    <div class="sales-boxes" style="width: 100%;">
      <div class="recent-sales box" style="width: 100%;">
        <a class="btn btn-success" href="/analysis">Back</a>
        <div class="float-right mb-3" style="width:fit-content;">
          <button class="btn btn-success" onclick="window.open('/download/<%= file %>')">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" stroke="white" class="bi bi-download mx-1" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
            </svg>
            Download
          </button>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="/html/<%= file %>" width="100%"></iframe>
        </div>
      </div>
    </div>
  </div>

</body>

</html>