
*{
	box-sizing: border-box;
}
html,body{
background-color: #069C54;
}
.container-fluid{
	display: flex;
}
.col {
	float: left;
	width: 33.33%;
	padding: 5px;
  }
#image2{
	position: absolute;
	bottom: 0;
	right: 0;
}
#image1{
	position: absolute;
	bottom: 0;
	left: 0;
}
.signin{
	background: #ffffff;
	height: 100vh;
	overflow: auto;
	display: flex;
	align-items: center;
}

.signin-form{
	width: 100vw;
	max-height: 100vh;
	padding: 2.5rem !important;
}
.card{
	overflow: hidden;
	width: auto;
	height: fit-content;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
}

.img-left{
    width: 45%;
    background: url('../img/forgot.svg') center;
    background-size:contain;
    background-repeat: no-repeat;
    
}

.card-body{
    padding: 2rem;
}

.title{
    margin-bottom: 2rem;
}
.form-input{
    position: relative;
}
.form-input input{
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
}

.form-input span{
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #069C54;
}

.form-input input::placeholder{
    color: black;
    padding-left: 0px;
}

.form-input input:focus, .form-input input:valid{
    border: 2px solid #069C54;
}

.form-input input:focus::placeholder{
    color: #454b69;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #048654 !important;
    border: 0px;
  }
  
  .form-box button[type="submit"]{
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #048654;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 12px;
  }
  
  .form-box button[type="submit"]:hover{
    background: #048654;
  }
  
  .forget-link, .register-link{
    color: #069C54;
    font-weight: bold;
  }
  
  .forget-link:hover, .register-link:hover{
    color: #048654;
    text-decoration: none;
  }
  
.form-box .col-4{
    padding-left: 50px;
    width: 30px;
    height: 30px;
}